[Desktop Entry]
Version=1.0
Type=Application
Name=VS Code Portable
Comment=Code Editing. Redefined.
Exec=/home/jyoo/vscode/code
Icon=/home/jyoo/vscode/resources/app/resources/linux/code.png
StartupWMClass=code
Terminal=false
Categories=Development;IDE;
